[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Battery Full Notif
Comment=
Exec=/home/archie/.config/startup_scripts/battery/batteryfull.sh
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

