[Desktop Entry]
Exec=sh -c "\\"\\$SHELL\\" -c fluxgui"
Hidden=true
Icon=fluxgui
Name=f.lux indicator applet
Type=Application
X-GNOME-Autostart-enabled=true
